<!DOCTYPE HTML> 
<html>
<head>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<div class="welcomebanner">
	<br>
	<h1> barcrawl.io</h1>
	<p>basically, plan and enjoy barcrawls with ease. </p>
</div>

<!-- Barcrawls -->
<div class="neighborhoods">
<h1>Neighborhoods</h1>
<p>Explore one of these neighborhoods</p>
</div>

<div class="nh_wrapper">
<!-- Venice -->
<a href="/neighborhoods/546100114d696ba18b020000" data-attribute="venice" data-lat="33.9908" data-long="-118.4592">
	<div class="col-md-4 venice" >
  		<h1 class="row"> Venice</h1>
	</div>
</a>
<!-- Santa Monica -->
<a href='/neighborhoods/5460fff74d696ba18b010000')data-attribute="venice" data-lat="33.9908" data-long="-118.4592" >
	<div class="col-md-4 santamonica" >
  		<h1 class="row"> Santa Monica</h1>
	</div>
</a>

<!-- West Hollywood -->
<a href='/neighborhoods/546100304d696ba18b030000') >
	<div class="col-md-4 weho" >
  		<h1 class="row"> West Hollywood</h1>
	</div>
</a>

<br>

<div class="newcrawl">
<h1>Create your crawl</h1>
<p><%= link_to('Lets do this.', '/events/new', :class => 'btn btn-large btn-primary btn-block')  %></p>
</div>

<body onload="initialize(34.0500, -118.2500)">


<!-- Google Maps Styling -->
  <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    
</head>
<body>

<div id="map-canvas" style="width: 100%;height: 800px;"> </div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script> 
    var map;
    var service;
    var infowindow;


var getlatlong = element.getAttribute(attributeName);

    ///create an event handler that will call this function when the DOM content is ready 
  // this is event listener 
  document.addEventListener("DOMContentLoaded", function() {
    initialize(latitude,longitude);
  });
    // as soon as html is ready, call this functino and load my map up.. the functino is stored in memory, and it can be called at will,aka when one of those links gets clicked. 
   function initialize(latitude,longitude) {
      var location = new google.maps.LatLng(latitude, longitude);

      map = new google.maps.Map(document.getElementById('map-canvas'), {
          center: location,
          zoom: 11
        });

      var request = {
        location: location,
        radius: '50000',
        types: ['bar']
      };

      service = new google.maps.places.PlacesService(map);
      service.nearbySearch(request, callback);
    }

    function callback(results, status) {
      if (status != google.maps.places.PlacesServiceStatus.OK) {
        alert(status);
        return;
      }
      for (var i = 0, result; result = results[i]; i++) {
        var marker = new google.maps.Marker({
          map: map,
          position: result.geometry.location
        });
        google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(place.name);
        infowindow.open(map, this);
      });
      }
    }

    document.getElementById("venice-link").addEventlistner("click",function(){

          //pull data atrributes from venice link

          //recall our intialize function , to basically reload the map, replace var location, with lat long of new location

    });



    </script>
</body>
</html>
