<h1>Neighborhoods#show</h1>
<p>Find me in app/views/neighborhoods/show.html.erb</p>


<h1> <%= @neighborhood.title %> </h1>

    <p><%= @neighborhood.description %> </p>

<%= link_to "Back to the list!", neighborhoods_path %>

<%= link_to "Delete this neighbrohood!", :neighborhood, method: :delete, data: { confirm: 'Are you sure you want to delete it?' } %>