// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// New Event Page

.superwrapper{
	border: 1px solid red;
}

.neweventform{
	border: 1px solid black;
}

.maps{
	border: 1px solid green;
	height: 500px;
}

.yelpinfo{
	border: 1px solid orange;
	height: 400px;
}





