// Place all the styles related to the neighborhoods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
iframe{
	width:100%;	
	height: 800px;
}


html, body, #map-canvas { 
	height: 100%; 
	margin: 0; 
	padding: 0;
}

#map-canvas{
	width: 100%;
	height: 800px;
}

